.ubtn {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: -0.05em;
  background-color: var(--clr-bg);
  color: black;
  border: 2px solid transparent;
  padding: 0.5em 1em;
  border-radius: 2px;
}

.ubtn:hover {
  border: 2px solid var(--clr-white);
  color: var(--clr-navy);
  background-color: var(--clr-bg);
  transform: translateY(1px);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /* border: 2px solid black; */
}

.section {
  margin-top: 2rem;
}

/* .pbutton {
  display: flex;
  height: 100px;
  width: 100px;
} */
